$font-main: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;

$primary-color: #264065;
$secondary-color: #909090;
$background-color: #faf8f5;
$second-background-color: #a9d6cb;
$testimony-p-color: #070d15;

$primary-font-size: 18px;
$title-font-size: 64px;
$subtitle-font-size: 24px;
$h2-font-size: 36px;

$primary-font-weight: 400;
$title-font-weight: 700;
$h2-font-weight: 500;
