@use "./abstracts/abstracts" as *;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "settings";
html {
  font-family: $primary-font;
  font-size: $mobile-primary-font-size;
  font-weight: $primary-font-weight;
  line-height: $mobile-line-spacing;
}

main {
  padding-left: 4%;
  padding-right: 4%;
  @include breakpoint(laptop) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header_container {
  position: relative;
  .header_background {
    .header_img {
      img {
        width: 100%;
        display: block;
      }
    }
    @include breakpoint(tablet) {
      display: grid;
      grid-template-columns: 60% 40%;
    }
    @include breakpoint(laptop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: stretch;
      .header_black {
        background-color: $primary-color;
        order: -1;
      }
    }
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 7% 4%;
    @include breakpoint(tablet) {
      position: absolute;
      top: 14%;
      right: 0;
      max-width: 51%;
      gap: 48px;
    }
    @include breakpoint(laptop) {
      flex-direction: row;
      justify-content: space-between;
      top: 10%;
      left: 15%;
      max-width: 70%;
      .hero_text {
        max-width: 30%;
        p {
          font-size: 22px;
          padding-bottom: 30%;
        }
      }
    }
    h1 {
      font-family: $secondary-font;
      text-transform: uppercase;
      font-size: $mobile-title-font-size;
      line-height: $mobile-title-line-spacing;
      font-weight: $title-font-weight;
      @include breakpoint(tablet) {
        font-size: $tablet-title-font-size;
        line-height: $tablet-title-line-spacing;
      }
      @include breakpoint(laptop) {
        font-size: 96px;
        color: white;
        line-height: 88px;
      }
    }
    ul {
      padding-top: 35px;
      display: inline-block;
      width: 65%;
      @include breakpoint(tablet) {
        width: 80%;
      }
      @include breakpoint(laptop) {
        width: 70%;
      }
      li {
        list-style: none;
        a {
          @include button($title-color);
        }
      }
    }
    .salto {
      display: block;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include breakpoint(tablet) {
    gap: 8px;
  }
}

.gallery {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    .gallery_text {
      max-width: 42%;
      padding: 5%;
      order: -1;
    }
  }
  picture {
    img {
      width: 100%;
    }
  }
  .gallery_text {
    display: flex;
    flex-direction: column;
    gap: 5%;
    h1 {
      text-transform: uppercase;
      font-family: $secondary-font;
      line-height: 45px;
      font-size: 50px;
      font-weight: 900;
      padding-top: 5%;
      .salto {
        display: block;
      }
    }
    p {
      line-height: $mobile-line-spacing;
      color: $secondary-color;
      padding-top: 5%;
    }
  }
}

.inspired {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40%;
  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 300px 1fr;
    height: 720px;
    margin-bottom: 20%;
    .banco {
      grid-row: 1 / span 2;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .inspired_text {
    background-color: $primary-color;
    padding: 10% 8%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include breakpoint(tablet) {
      padding: 30% 9%;
    }
    h2 {
      text-transform: uppercase;
      font-family: $secondary-font;
      color: white;
      line-height: $mobile_h2-line-spacing;
      font-size: $mobile_h2-font-size;
      font-weight: $title-font-weight;
      .salto {
        display: block;
      }
    }
    p {
      color: white;
    }
  }
}

// Aqui vamos con la informacion de redes. FOOTER
// Al ser el FOOTER  el estilo se comparte con la pagina del maps
.info {
  background-color: $primary-color;
  .info_text {
    padding: 12% 7%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: flex-start;
      padding: 7% 5% 17% 5%;
      gap: 8%;
      height: 300px;
      p {
        width: 50%;
        padding-right: 20px;
      }
    }
    @include breakpoint(laptop) {
      justify-content: space-around;
      max-width: 95%;
      padding-left: 10%;
      p {
        width: 30%;
      }
    }
    p {
      color: white;
    }
    ul {
      display: flex;
      gap: 10px;
      list-style: none;
      @include breakpoint(laptop) {
        gap: 20px;
      }
    }
  }
}

// Pagina del maps
.mapa {
  position: relative;
  picture {
    img {
      width: 100%;
      display: block;
    }
  }
  ul {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    @include breakpoint(tablet) {
      max-width: 35%;
      left: 5%;
    }
    @include breakpoint(laptop) {
      max-width: 15%;
      left: 11%;
    }
    li {
      list-style: none;
      a {
        @include button($title-color);
        background: linear-gradient(
          to right,
          $background-color 20%,
          $primary-color 20%
        );
        padding: 9% 18% 9% 7%;
        img {
          transform: rotate(180deg);
        }
        @include breakpoint(laptop) {
          &:hover {
            background: linear-gradient(
              to right,
              $primary-color 20%,
              $background-color 20%
            );
          }
        }
      }
    }
  }
}

.location {
  background-color: $primary-color;
  color: white;
  .location_container {
    padding: 15% 4%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include breakpoint(tablet) {
      flex-direction: row;
      padding: 10% 7%;
      gap: 90px;
      .location_title {
        line-height: 46px;
        width: 30%;
      }
    }
    @include breakpoint(laptop) {
      justify-content: space-around;
      .location_title {
        line-height: 70px;
        width: 10%;
        h1 {
          font-size: 70px;
        }
      }
      .location_text {
        width: 33%;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .location_title {
      text-transform: uppercase;
      font-family: $secondary-font;
      font-size: 26px;
      font-weight: $title-font-weight;
    }
    .location_text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        font-family: $secondary-font;
        color: $background-color;
        text-transform: uppercase;
        font-weight: 900;
      }
      p {
        line-height: $mobile-line-spacing;
      }
      .salto {
        display: block;
      }
    }
  }
}

.info_maps {
  background-color: $background-color;
  .info_text {
    p {
      color: $primary-color;
    }
  }
}
