$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-laptop: 1200px;
$bp-desktop: 1440px;
$bp-desktop-xl: 1920px;

$primary-font: "Outfit", sans-serif;
$secondary-font: "Big Shoulders", sans-serif;

$primary-color: #151515;
$secondary-color: #444444;
$background-color: #d5966c;
$title-color: #ffffff;

$mobile-primary-font-size: 18px;
$mobile-title-font-size: 60px;
$mobile_h2-font-size: 50px;

$mobile-line-spacing: 28px;
$mobile-title-line-spacing: 55px;
$mobile_h2-line-spacing: 50px;

$tablet-title-font-size: 70px;
$tablet-title-line-spacing: 65px;

$primary-font-weight: 200;
$title-font-weight: 900;
$secondary-font-weight: 500;
