@use "sass:color";
@use "variables" as *;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == laptop {
    @media (min-width: $bp-laptop) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button($color) {
  background-color: $color;
  color: #ffffff;
  border: none;
  padding: 18px 45px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.scale($color, $lightness: -20%);
  }
}
