$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-laptop: 1200px;
$bp-desktop: 1440px;
$bp-desktop-xl: 1921px;

$roboto-font: "Roboto", sans-serif;

$main-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;

$primary-color: #2b2d38;
$secondary-color: #db2a6b;
$subtitle-color: #95969b;
$lowbar-background-color: #464751;
$navbar-color: #ababab;

$primary-font-size: 18px;
$title-font-size: 80px;
$subtitle-font-size: 24px;

$primary-font-weight: 400;
$title-font-weight: 700;
$lowbar-font-weight: 600;
