@use "sass:color";
@use "./abstracts/abstracts" as *;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "settings";

body {
  header {
    position: relative;
    max-width: 1920px;
    height: 1080px;
    padding-left: 6.2%;
    background-color: $primary-color;
    @include breakpoint(desktopxl) {
      margin-left: auto;
      margin-right: auto;
    }
    .elipse {
      position: absolute;
      overflow: hidden;
      bottom: 1.2%;
      right: 1.2%;
    }
    .elipse2 {
      position: absolute;
      overflow: hidden;
      bottom: 1.2%;
      right: 1.2%;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-right: 17%;
  padding-left: 4%;
  ul {
    display: flex;
    list-style: none;
    gap: 45px;
    li {
      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        gap: 10px;
        color: $navbar-color;
        font-family: $main-font;
        font-size: $primary-font-size;
        font-weight: $primary-font-weight;
        &:hover {
          color: white;
          img {
            opacity: 1;
          }
        }
      }
      img {
        max-width: 35px;
        opacity: 0;
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  padding-right: 7%;
  .hero__main {
    display: flex;
    flex-direction: column;
    max-width: 38%;
    padding-top: 3%;
    .hero_title {
      display: flex;
      flex-direction: column;
      width: 700px;
      h1 {
        font-family: $secondary-font;
        font-size: $title-font-size;
        color: white;
      }
      p {
        margin-top: 15px;
        max-width: 87%;
        font-family: $main-font;
        font-size: $subtitle-font-size;
        color: $subtitle-color;
      }
    }
    .hero_buttons {
      margin-top: 50px;
      ul {
        display: flex;
        list-style: none;
        gap: 20px;
        li:nth-of-type(2) {
          padding-top: 11px;
          a:hover {
            text-decoration: underline;
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
          font-family: $main-font;
          font-size: $primary-font-size;
        }
        .btn {
          @include button($secondary-color);
        }
      }
    }
    .hero_service {
      display: flex;
      flex-direction: row;
      gap: 4px;
      max-width: 616px;
      margin-top: 22%;
      .lowbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        gap: 15px;
        font-family: $main-font;
        font-weight: $lowbar-font-weight;
        font-size: $primary-font-size;
      }
    }
  }
  .hero__content {
    z-index: 1;
    max-width: 1102px;
    max-height: 700px;
    display: grid;
    gap: 30px;
    grid-template-areas:
      "purple cyan yellow"
      "purple orange yellow"
      "red orange yellow";
    .purple {
      grid-area: purple;
    }
    .cyan {
      grid-area: cyan;
    }
    .yellow {
      align-self: center;
      grid-area: yellow;
    }
    .orange {
      grid-area: orange;
    }
    .red {
      grid-area: red;
    }
  }
}
